// Transition
$trans-dur: .5s;


// Pallete
$green: #53CD82;
$black: #000;
$white: #FFF;
$red: #EB3636;
$gray: #EFEFEF;
$light-gray: #FBFBFB;
$chat-bg-msg-me: #E4EDFD;
$chat-bg-msg-opp: #F8F8F8;
$modal-opacity: 0.4;