.container_error-msg {
    
    .error-msg__header {
        font-size: 30px;
    }

    .error-msg__text {
        font-size: 80px;
        text-align: center;
        }

    a {
        font-size: 30px;
    }

}

