.container_error-msg {
    
    .error-msg__header {
        font-size: 80px;
    }

    .error-msg__text {
        font-size: 30px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    a {
        font-size: 20px;
    }

}

