.menu {
    width: 100%;
    background-color: $gray;
    position: absolute;
    opacity: 0.2;

    .menu__list {
        height: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin: 0;
        padding: 0;

        li {
            text-decoration: none;
            font-size: 18px;
            color: $black;
            list-style-type: none;

            a {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 300;
                text-decoration: none;
            }
        }
    }

} 


		//script(src='../assets/js/main.js')
