mixin navEl(name, link)
    li.menu_item
        a(href= link)= name


nav.menu
    ul.menu__list
        +navEl('Главная', '/login.pug')
        +navEl('Registration', '#')
        +navEl('Chat', '#')
        +navEl('404', '/404.pug')
        +navEl('500', '/500.pug')
